@charset "UTF-8";

html, body {
    
    font-family: 'Pretendard Variable';
    background-color: #111;
}
html, body, h1, h2, h3, h4, h5, h6, div, p, 
blockquote, pre, code, address, ul, ol, li, 
menu, nav, section, article, aside, dl, dt, dd, 
table, thead, tbody, tfoot, label, caption, th, td, 
form, fieldset, legend, hr, input, button, textarea, 
object, figure, figcaption {
    margin:0;
    padding:0;
}
main, header, section, nav, footer, aside, article, figure {
    display:block;
}
html{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
html, body {
    overflow-x:hidden; /* 반응형 */
}
ul, ol, li {
    list-style:none;
}
h1, h2, h3, h4, strong, th {
    font-weight:normal;
    font-family:inherit;
    color:inherit;
}
a {
    color:inherit;
    text-decoration:none;
    outline:none;
}

i, em {font-style: normal;}

/* 헤더 */
.header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: rgba(255,255,255,0.2); 
    z-index: 10000;
}
.header .logo a{
    display: block; 
    padding:15px 10px; 
    font-size: 24px; 
    color: #fff;
}
.header .logo a strong{
    font-weight: 700;
}
.header .header_inner{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    max-width: 1044px;
    width: 100%;
}
.header #fix_nav{
    display:flex;
    align-items: center;
    justify-content: center;
}
.header #fix_nav li{
    margin-left: 10px;
}
.header #fix_nav li a{
    display: block;
    padding: 2px 10px; 
    font-size: 18px; 
    color:#fff;
}
.header #fix_nav li.on a{
    text-shadow: 5px 5px 10px rgb(196 0 0);
}


/* 페이지 앵커 */
#pageMenu { 
    position: fixed; 
    right:40px; 
    top:50%; 
    transform: translate(0,-50%);
    width: 80px; 
    z-index: 999; 
}
#pageMenu li { 
    margin: 5px 0;
}
#pageMenu a { 
    display: block; 
    position: relative; 
    width: 100%; 
    text-align: right; 
    padding-right: 20px; 
}
#pageMenu a span { 
    display: inline-block;
    font-weight: bold;
    line-height: 30px;
    font-size: 0px; 
    color: #fff;
}
#pageMenu.on a span { 
    color: #fff; 
}
#pageMenu a i {
    display: inline-block; 
    position: absolute; 
    width: 8px; 
    height: 8px;
    background: #d5d5d5; 
    border-radius: 50%; 
    top: 50%; 
    right: 0; 
    transform: translateY(-50%); 
}
#pageMenu a i::before {
    content: '';
    display: inline-block; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 17px; 
    height: 17px; 
    border: 1px solid rgba(255,255,255,0.5); 
    border-radius: 50%; 
    opacity: 0; 
    transition: all 0.3s;
}
#pageMenu li.active a span { 
    font-size: 13px;
}
#pageMenu li.active a i::before{
    content: ''; 
    display: inline-block;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 17px; 
    height: 17px; 
    border: 1px solid rgba(255,255,255,0.5); 
    border-radius: 50%; 
    opacity: 1;
}

/* 페이지 */
.section::before{
    content: "";
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index: 0;
}
.section .section-inner {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin:0 auto;
    padding:0 10px;
    max-width: 1044px;
    width: 100%; 
    height: 100%; 
    color: #fff;
    box-sizing: border-box;
}
.section .txt_box{
    position: relative;
    z-index: 2;
}
#section1{
    position: relative;
    background:url("../assets/imgs/bg_004.jpg") no-repeat center/cover;
}
#section2{
    position: relative; 
    background:url("../assets/imgs/bg_001.jpg") no-repeat center/cover;
}
#section3{
    position: relative; 
    background:url("../assets/imgs/bg_005.jpg") no-repeat center/cover;
}
.section .txt_box h2{
    padding:20px 0 40px;
    font-size: 42px;
    text-shadow: 8px 8px 23px rgb(41 41 41);
}
.section .txt_box h2 strong{
    font-weight: 700;
}
#section1 .txt_box .txt{
    line-height: 1.4;
    font-size:22px;
    word-break: keep-all;
    text-shadow: 8px 8px 23px rgb(41 41 41);
}
#section2 .txt_box{
    top: 8%;
}
#section2 .txt_box h2{
    padding: 0 0 25px;
    text-align: center;
}
#section2 .txt_box .txt{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding:30px 30px 0; 
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px; 
    box-sizing: border-box;
}
#section2 .txt_box .txt .part{
    width: 50%;
}
#section2 .txt_box .txt dl{
    padding:0 20px 32px 20px;
    width: 100%;
    box-sizing: border-box;
}
#section2 .txt_box .txt dl dt{
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 22px;
}
#section2 .txt_box .txt dl dd{
    word-break: keep-all;
    line-height: 1.25;
    font-size: 20px;
}
#section3 .txt_box{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0 0 30px 30px;
    box-sizing: border-box;
    top: 5%;
}
#section3 .txt_box .iframe_box{
    width:1024px;
    vertical-align: top;
}
#section3 .txt_box .iframe_box iframe{
    width:100%;
    height:400px; 
    border:none;
}
#section3 .txt_box p{ 
    padding:20px 0 24px;
    vertical-align: top;
    text-align: center;
    font-size: 20px;
    word-break: keep-all;
}

/* 애니메이션 */
#section1.active .ani-01 {
    animation: fadeLeft 0.7s 0.5s both;
}
#section1.active .ani-02 {
    animation: fadeLeft 1s 0.8s both;
}
#section2.active .ani-01 {
    animation: fadeUp 0.8s 0.3s both;
}
#section2.active .ani-02 {
    animation: fadeLeft 1s 0.8s both;
}
#section2.active .ani-03 {
    animation: fadeRight 1s 1.2s both;
}
#section3.active .ani-01 {
    animation: fadeUp 0.6s 0.6s both;
}
#section3.active .ani-02 {
    animation: fadeUp 0.7s 0.9s both;
}

@keyframes fadeIn {
	0%{ 
        opacity: 0;
    }
	100%{ 
        opacity: 1;
    }
}
@keyframes fadeUp {
	0%{
        transform:translateY(80px);
        opacity: 0;
    }
	100%{
        transform:translateY(0); 
        opacity: 1;
    }
}
@keyframes fadeLeft {
	0%{
        transform:translateX(-80px); 
        opacity: 0;
    }
	100%{
        transform:translateX(0); 
        opacity: 1;}
}
@keyframes fadeRight {
	0%{
        transform:translateX(80px);
        opacity: 0;
    }
	100%{
        transform:translateX(0); 
        opacity: 1;
    }
}
@keyframes up {
	0%{
        transform:translateY(120%);
    }
	100%{
        transform:translateY(0);
    }
}
@keyframes moveTxt {
	0%{
        transform:translateX(-20px);
        opacity: 0;
    }
	100%{
        transform:translateX(0); 
        opacity: 1;
    }
}

@media only screen and (max-width: 1023px) {

    #pageMenu{
        display: none;
    }


    .header .header_inner{
        flex-direction: column;
        width: 100%;
    }
    .header #fix_nav{
        width: 100%;
    }
    .header #fix_nav li{
        margin-left: 0;
        width: 33.333%;
    }

    .header .logo a {
        padding: 10px 0;
    }
    .header #fix_nav li a{
        padding-bottom: 10px;
        text-align: center;
        font-size: 16px;
    }

    #section1 .txt_box{
        padding-top: 40%;
    }

    .section .txt_box h2{
        padding: 40px 0 20px;
        font-size: 22px;
    }
    #section1 .txt_box .txt{
        font-size: 15px;
    }


    #section2 .txt_box h2{
        padding-top:0;
    }
    #section2 .txt_box .txt dl{
        padding:0 0 20px 0;
    }
    #section2 .txt_box .txt dl dt{
        padding-bottom: 5px;
        font-size: 16px;
    }

    #section2 .txt_box .txt dl dd{
        font-size: 15px;
    }


    #section2 .txt_box .txt dl dd br{
        display: none;
    }

    #section2 .txt_box .txt{
        flex-direction: column;
    }

    #section2 .txt_box .txt .part{
        width: 100%;
    }

    #section3 .txt_box{
        border-radius:0 0 10px 10px;
    }
    #section3 .txt_box .iframe_box{
        width:100%;
    }
    #section3 .txt_box p{
        padding:10px;
        line-height:1.3;
        font-size: 15px;
    }







}















